RewriteEngine On

# Deny access to hidden / sensitive patterns if ever mis-routed
RewriteRule ^(storage|vendor|\.env|composer\.(json|lock)) - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
